{% extends "bases/base.html" %}
{% load static %}

{% block 'head' %}
    <link href="{% static 'exams/css/css.css' %}" rel="stylesheet">
    <link href="{% static 'exams/css/manage_orders.css' %}" rel="stylesheet">
    <link href="{% static 'exams/css/manage_exams.css' %}" rel="stylesheet">
{% endblock 'head' %}


{% block 'conteudo' %}
    <br><br>
    
    <div class="container">
        {% if messages %}
            <br>
            {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <h3>{{exam.exam.name}}</h3>
        <br>
        <form action="{% url "exam_with_password" exam.id %}" method="POST">{% csrf_token %}
            
            <label>Senha de acesso</label>
            <br>
            <input type="text" name="password" class="form-control" style="width: 40%">
            <br>

            <input type="submit" class="btn-default" value="Enviar">
            
        </form>
        
    </div>

{% endblock 'conteudo' %}